        <!-- Placed at the end of the document so the pages load faster -->

        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.migrate/1.2.1/jquery-migrate.min.js"></script>
        <script  type="text/javascript" src="{{ .Site.BaseUrl }}/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseUrl }}/js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseUrl }}/js/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="{{.Site.BaseUrl }}/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="{{.Site.BaseUrl }}/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	    <script type="text/javascript" src="{{.Site.BaseUrl }}/js/revolution.custom.min.js"></script>
	    <script type="text/javascript" src="{{.Site.BaseUrl }}/js/custom.min.js"></script>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-19911362-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
