<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
  {{ partial "head.html" . }}
    <!-- END HEAD  -->
    <body>
        <!-- THE LINE AT THE VERY TOP OF THE PAGE -->
        <div class="top_line"></div>
        <!-- HEADER AREA -->
         {{ partial "header.html" . }}
        <!-- MAIN CONTENT AREA -->
        <div class="main-content">
    <div class="container">
        <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) -->
        <div class="bannercontainer" >
            <div class="banner" >
                <ul>

                        <li class="slide2" data-transition="slideleft" data-slotamount="10"  data-masterspeed="300">
    <img alt="" src="/img/django_banner.jpg" />
    <div class="caption sft carousel-caption" data-x="472" data-y="69" data-speed="1000" data-start="1000" data-easing="easeInBack" style="background: none;">
        <p class="middle">Django</p>
    </div>
    <div class="caption sfr carousel-caption" data-x="462" data-y="107" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
        <p class="big">Elegant and performing</p>
    </div>
    <div class="caption sfl carousel-caption" data-x="462" data-y="156" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
        <p class="big">Python</p>
    </div>
    <div class="caption sfl carousel-caption" data-x="462" data-y="205" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
        <p class="big">Web framework</p>
    </div>
    <div class="caption sfb carousel-caption" data-x="474" data-y="262" data-speed="1000" data-start="1000" data-easing="easeInBack" style="background: none; width: 436px;">
        <p class="small">Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.</p>
    </div>
</li>

                        <li class="slide2" data-transition="slideleft" data-slotamount="10"  data-masterspeed="300">
    <img alt="" src="/img/tuttle_activity.jpg" />
    <div class="caption sft carousel-caption" data-x="472" data-y="69" data-speed="1000" data-start="1000" data-easing="easeInBack" style="background: none;">
        <p class="middle">Tuttle</p>
    </div>
    <div class="caption sfr carousel-caption" data-x="462" data-y="107" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
        <p class="big">Keep track</p>
    </div>
    <div class="caption sfl carousel-caption" data-x="462" data-y="156" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
        <p class="big">of your work</p>
    </div>
    <div class="caption sfl carousel-caption" data-x="462" data-y="205" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
        <p class="big">like a charm</p>
    </div>
    <div class="caption sfb carousel-caption" data-x="474" data-y="262" data-speed="1000" data-start="1000" data-easing="easeInBack" style="background: none; width: 436px;">
        <p class="small">The Timesheet and Timetracker you can rely on</p>
    </div>
</li>

                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>

        <div class="row main-block">
            <div class="span12">
                <div class="row">
                    <!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO BLOCK 1 (TEXT BLOCK)] -->
                    <div class="span6 home-block hero-block-1">
                        <div class="section" id="say-hello-to-evonove">
<h2>Say Hello to Evonove!</h2>
<div class="section" id="it-consulting-for-small-and-medium-enterprises">
<h3>IT consulting for small and medium enterprises.</h3>
<p>We help our customers to build quality IT systems by designing and developing
software, planning and managing infrastructures, training. We try to actively
involve our customers in every step when delivering a project, from the design
of the application to the final test. Companies with their own technical staff
can temporarily hire part of our staff when specific know-how is needed during
the development of a project.</p>
</div>
</div>

                    </div>

                    <!-- MAIN CONTENT AREA: SPACER BETWEEN HERO BLOCK 1 AND HEREO BLOCK 2 -->
                    <div class="span1"></div>

                    <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 2 -->
                    <div class="span5 home-block">
                        <div class="grey-box hero-block-2">
                            <div class="section" id="id1">
<h2><a class="reference external" href="http://tofu.st/">Tofu, file storage made easy</a></h2>
<p><img alt="callout" src="/img/tofu_logo.png" /> Tofu is a file storage solution based on evonove's own customers
requirements. You can try the service and get 1Gb of disk space for your personal
files, for free.</p>
<a href="http://tofu.st" target="_blank" class="btn btn-warning"><i class="icon-shopping-cart"></i>Get an account now</a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row main-block">
            <div class="span12">
                <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO LIST -->
                <div class="row show-grid hero-list">

                    <div class="span3">
                            <div class="image-wrapper">
                                <img alt="" src="/img/hero_java.png" />
                            </div>
                        <div class="section" id="java">
<h2>Java</h2>
<p>Web and Mobile development done right.</p>
</div>

                    </div>

                    <div class="span3">
                            <div class="image-wrapper">
                                <img alt="" src="/img/hero_javascript.png" />
                            </div>
                        <div class="section" id="javascript">
<h2>Javascript</h2>
<p>Frontend developers on the way!</p>
</div>

                    </div>

                    <div class="span3">
                            <div class="image-wrapper">
                                <img alt="" src="/img/hero_opensource.png" />
                            </div>
                        <div class="section" id="open-source">
<h2>Open Source</h2>
<p>We try releasing in the wild as much of our work as we can, as well as contributing to other open source projects.
Check out our activity on <a class="reference external" href="https://github.com/evonove">GitHub!</a></p>
</div>

                    </div>

                    <div class="span3">
                            <div class="image-wrapper">
                                <img alt="" src="/img/hero_python.png" />
                            </div>
                        <div class="section" id="python">
<h2>Python</h2>
<p>Our personal Swiss Army knife.</p>
</div>

                    </div>

                </div>
            </div>
            <div class="horizontal-divider span12"></div>
        </div>

        <!-- MAIN CONTENT AREA: Expertise block -->

        <div class="portfolio-grid-1 main-block">
            <div class="title-wrapper">
                <h2>Expertise</h2>
            </div>
            <div class="clear-both"></div>
            <div id="home_responsive" class="row show-grid isotope" style="position: relative; overflow: hidden; height: 360px;">
                <!-- Expertise -->
                {{ range .Site.Sections.expertise }}
                <div class="span3 medium hp-wrapper isotope-item">
                    <a class="top-link" href="#"><img alt="" style="width: 220px; height: 340px;" src="{{ .Page.Params.image }}"></a>
                    <div class="bottom-block">
                        <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
                        <p>Living surfaces</p>
                    </div>
                 </div>

            {{end}}
            </div>
        </div>





        <!-- MAIN CONTENT AREA: bizstrap CUSTOM - RECENT POSTS BLOCK (ORIGINALLY DESIGNED FOR HOME PAGE) -->
        <div class="main-block block-posts">
            <div class="title-wrapper">
                <h2>Recent Posts</h2><a href="/blog/" class="all">Visit the full blog&nbsp;&raquo;</a>
            </div>
            <div class="row show-grid clear-both">
                <div class="span12">
                    <div class="row show-grid">

                        <div class="span3 ">

                            <a class="block-post-img" href="/blog/2014/droidcon-2014/">

                                <div class="img-rounded" style="background-image: url('/img/2014/droidcon.jpg');"></div>​

                            </a>
                            <a class="block-post-title" href="/blog/2014/droidcon-2014/">DroidCon 2014, all aboard!</a>
                            <p class="block-post-date">04 Feb 2014</p>
                            <p class="block-post-content"><p>After Amsterdam, Bangalore, Berlin, Brussels, London, Murcia and Tunis the
<a class="reference external" href="http://droidcon.com/">Droidcon</a> arrives in Italy, <a class="reference external" href="http://it.droidcon.com/2014/">in Turin</a>.
It'll ...</p>

                            <a class="block-post-more" href="/blog/2014/droidcon-2014/">Continue Reading&nbsp;&raquo;</a>
                        </div>

                        <div class="span3 ">

                            <a class="block-post-img" href="/blog/2013/build-python-desktop-application-with-jenkins/">

                                <img alt="" src="/img/placeholder_220_160.png" class="img-rounded" />

                            </a>
                            <a class="block-post-title" href="/blog/2013/build-python-desktop-application-with-jenkins/">Build Python desktop application with Jenkins</a>
                            <p class="block-post-date">24 Jul 2013</p>
                            <p class="block-post-content"><p>We recently started using <a class="reference external" href="http://jenkins-ci.org/">Jenkins</a>, a well known system for Continuous Integration,
and make it perform tasks like build and package multiplatform desktop
applications.</p>
<p>We're ...</p>

                            <a class="block-post-more" href="/blog/2013/build-python-desktop-application-with-jenkins/">Continue Reading&nbsp;&raquo;</a>
                        </div>

                        <div class="span3 ">

                            <a class="block-post-img" href="/blog/2013/europython-2013/">

                                <div class="img-rounded" style="background-image: url('/img/2013/eplogo2013.jpg');"></div>​

                            </a>
                            <a class="block-post-title" href="/blog/2013/europython-2013/">Europython 2013 Wrap-up</a>
                            <p class="block-post-date">09 Jul 2013</p>
                            <p class="block-post-content"><p>Right back from the EuroPython conference, the last in Florence before moving to Berlin for the next two years.
It was a pretty long week, a lot of talks, people, dinners, cocktails, beers, barbecues, sprints... I just want to
thank the organizers, ...</p>

                            <a class="block-post-more" href="/blog/2013/europython-2013/">Continue Reading&nbsp;&raquo;</a>
                        </div>

                        <div class="span3 last">

                            <a class="block-post-img" href="/blog/2013/django-oauth-toolkit-is-out/">

                                <div class="img-rounded" style="background-image: url('/img/2013/oauthLogo.png');"></div>​

                            </a>
                            <a class="block-post-title" href="/blog/2013/django-oauth-toolkit-is-out/">Django OAuth Toolkit is out!</a>
                            <p class="block-post-date">13 Jun 2013</p>
                            <p class="block-post-content"><p>We just released the <a class="reference external" href="https://pypi.python.org/pypi/django-oauth-toolkit/0.3.0">latest version</a> of Django OAuth Toolkit,
a library to add OAuth goodies to Django projects. The project is under active development, ...</p>

                            <a class="block-post-more" href="/blog/2013/django-oauth-toolkit-is-out/">Continue Reading&nbsp;&raquo;</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <hr>

    </div>
</div>
        <!-- END MAIN CONTENT AREA -->

        <!-- FOOTER STARTS HERE -->
         {{ partial "footer.html" . }}
        <!-- END FOOTER -->

        <!-- Placed at the end of the document so the pages load faster -->
{{ partial "javascript.html" . }}
    </body>
</html>